.draggable-container {
  padding-top: 30px;
  display: flex;
  column-gap: 7px;
  overflow: scroll;

  .draggable-wrap {
    width: 15%;
    position: relative;
    border: 1px solid lightgray;

    .draggable-item {
      width: 100%;

      h3 {
        overflow-wrap: break-word;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      aspect-ratio: 1;
      color: white;
      background: red;
      border: none;
      cursor: pointer;
    }
  }
}

